<table id="tablelist" class="table table-hover non-hover" style="width:100%">
    <thead>
        <tr>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>id_user</th>
            <th>Usuário</th>
            <th>email</th>
            <th>Arquivo</th>
            <th>Cliente</th>
            <th>Base CNPJ</th>
            <th>Data Ini.</th>
            <th>Data Fin.</th>
            <th>Cod. Nat.</th>
            <th>Cod. Conta</th>
            <th>Sheet</th>
            <th>tipo_relatorio</th>
            <th>Total Reg.</th>
            <th>Data Cadastrada</th>
        </tr>
    </thead>
</table>
